{:bot/webhook-key {}

 :bot/token "0000000000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
 
 :bot/handler {:webhook-key #ig/ref :bot/webhook-key}

 :bot/https? false
 :bot/ip "0.0.0.0"
 :bot/port 8443

 :bot/api-url nil
 
 :bot/server {:options {:ip #ig/ref :bot/ip
                        :port #ig/ref :bot/port
                        :https? #ig/ref :bot/https?
                        ;; :keystore KEYSTORE_PATH
                        ;; :keystore-password KEY_PASSWORD
                        }
              :handler #ig/ref :bot/handler}

 :bot/instance {:api-url #ig/ref :bot/api-url
                :token #ig/ref :bot/token
                :webhook-key #ig/ref :bot/webhook-key
                :https? #ig/ref :bot/https?
                :ip #ig/ref :bot/ip
                :port #ig/ref :bot/port
                ;; :certificate PUBLIC_KEY
                }

 :mulog/publishers [{:type :zipkin
                     :url "http://localhost:9411"
                     :max-items 5000
                     :publish-delay 5000}
                    {:type :simple-file
                     :filename "./logs/log.mulog"}]

 :project/config {}}
