{:bot/https? false
 :bot/ip "127.0.0.1"

 :bot/api-url "http://127.0.0.1:8899/test-api/"
 
 :bot/instance {:test-server #ig/ref :test/server}

 :db/connection {:uri "/tmp/cloregram-datalevin"
                 :clear? true}
 
 :test/server {:url #ig/ref :bot/api-url
               :bot-token #ig/ref :bot/token}}
