[{:db/ident :category/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Category's name"}

 {:db/ident :category/sign
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Category's one char sign"}

 {:db/ident :category/place
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "`Place` where Category is used"}

 {:db/ident :category/validate
  :db.entity/attrs [:category/name :category/sign :category/place]
  :db.entity/preds 'magic-tray-bot.schema.predicats.category/one-char-sign?}]
